*.egg-info
.coverage
.direnv/
.envrc
/.idea
/build
/dist
/internal/util/version.txt
/python/cog/command/cog-schema-*
/python/cog/server/http/cog-server-*
/python/coglet/_version.py
/uv.lock
__pycache__
